{% extends 'base.html' %}
{% load static %}
{% block title %}商品信息{% endblock %}
{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}

    <style>
        body {
            background: linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
            background-size: 500% 500%;
            transition: background 3s ease;
            background-position: 50% 50%;
        }
        .btn {
            margin-top: 50px;
            color: #ffffff;
            width: 10em;
            transition: all .4s;
            border-radius: 20px;
            border: 2px solid transparent;
        }

        .btn-lg {
            padding: .5rem 1rem;
            font-size: 2.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        .btn-a {
            margin-bottom: .8em;
            background-color: #9caeee;
        }
    </style>
    <div class="container">
        <h2>商品管理</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>商品号</td>
                <td>商品名称</td>
                <td>商品价格</td>
                <td>管理</td>
            </tr>
            </thead>
            <tbody>
            {% for ord in goods %}
                <tr>
                    <td>{{ ord.g_id }}</td>
                    <td>{{ ord.g_name }}</td>
                    <td>{{ ord.g_price }}</td>
                    <td><a onclick="return deleteJob();" href="{% url 'goods:delGood' ord.g_id %}">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if goods.has_previous %}
                    <a class='active' href="?page={{ goods.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    Page {{ goods.number }} of {{ goods.paginator.num_pages }}</span>

                {% if goods.has_next %}
                    <a class='active' href="?page={{ goods.next_page_number }}">下一页</a>
                {% endif %}
                </li></ul></nav></div>

    <div class="container">
    <div class="btn btn-lg btn-a">
        <li><a href="/increase/">增加商品</a></li>
    </div>
    </div>

    <script type="text/javascript">
		function deleteJob()
		{
		     if(confirm("确定要删除吗?"))
		     {
		         return true;
		     }else{
		         return false;
			 }
		}
    </script>

{% endblock %}