{% extends 'base.html' %}
{% load static %}
{% block title %}销售订单{% endblock %}
{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <style>
        body {
            background: linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
            background-size: 500% 500%;
            transition: background 3s ease;
            background-position: 50% 50%;
        }
        .btn {
            margin-top: 50px;
            color: #ffffff;
            width: 10em;
            transition: all .4s;
            border-radius: 20px;
            border: 2px solid transparent;
        }

        .btn-lg {
            padding: .5rem 1rem;
            font-size: 2.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        .btn-a {
            margin-bottom: .8em;
            background-color: #9caeee;
        }
    </style>
    <div class="container">
        <table class="table table-bordered">
            <h2>销售管理</h2>
            <thead>
            <tr>
                <td>订单号</td>
                <td>订单顾客</td>
                <td>订单状态</td>
                <td>商品</td>
                <td>商品数量</td>
                <td>下单时间</td>
                <td>总价格</td>
                <td>轨迹插入</td>
            </tr>
            </thead>
            <tbody>
            {% for ord in p_order %}
                <tr>
                    <td>{{ ord.wl_code }}</td>
                    <td>{{ ord.belong }}</td>
                    <td>{{ ord.get_status_display }}</td>
                    <td>{{ ord.good }}</td>
                    <td>{{ ord.gnum }}</td>
                    <td>{{ ord.time }}</td>
                    <td>{{ ord.price }}</td>
                    {% ifequal ord.status '1' %}
                        <td><a href="{% url 'traces:updateWay' ord.id %}">插入</a></td>
                    {% else %}
                        <td>已送达</td>
                    {% endifequal %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="pages" class="text-center">
        <nav>
            <ul class="pagination">
                <li class="step-links">
                    {% if p_order.has_previous %}
                        <a class='active' href="?page={{ p_order.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                    Page {{ p_order.number }} of {{ p_order.paginator.num_pages }}</span>

                    {% if p_order.has_next %}
                        <a class='active' href="?page={{ p_order.next_page_number }}">下一页</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">
    <div class="btn btn-lg btn-a">
        <li><a href="/create/">订单创建</a></li>
    </div>
    </div>
    <script type="text/javascript">
        function deleteJob() {
            if (confirm("确定要删除吗?")) {
                return true;
            } else {
                return false;
            }
        }
    </script>

{% endblock %}