{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    <style>
        body {
            background: linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
            background-size: 500% 500%;
            transition: background 3s ease;
            background-position: 50% 50%;
        }


        .btn {
            margin-top: 50px;
            color: #ffffff;
            width: 10em;
            transition: all .4s;
            border-radius: 20px;
            border: 2px solid transparent;
        }

        .btn-lg {
            padding: .5rem 1rem;
            font-size: 2.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        .btn-a {
            margin-bottom: .8em;
            background-color: #9caeee;
        }
    </style>
    <div style="text-align:center;">
        {% if request.session.is_login %}


            <div style="margin-top: 200px">
                <h2>你好,{{ request.session.user_name }}！欢迎回来！</h2>
                <div class="btn btn-lg btn-a">
                    <a href="/showgood/">浏览商品</a>
                </div>
                <div class="btn btn-lg btn-a">
                    <a href="/order/">查看订单</a>
                </div>
            </div>
        {% else %}
            <div style="margin-top: 200px">
            <h1>请先进行登录</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}