{% extends 'base.html' %}
{% load static %}
{% block title %}订单信息{% endblock %}
{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}
{% block content %}
    <style>
        body {
            background: linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
            background-size: 500% 500%;
            transition: background 3s ease;
            background-position: 50% 50%;
        }
        .btn {
            margin-top: 50px;
            color: #ffffff;
            width: 10em;
            transition: all .4s;
            border-radius: 20px;
            border: 2px solid transparent;
        }

        .btn-lg {
            padding: .5rem 1rem;
            font-size: 2.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        .btn-a {
            margin-bottom: .8em;
            background-color: #9caeee;
        }
        .character {
            line-height: 30px; /*li的行高，可以控制li的间距*/
            font-size: 20px; /*li内文字的大小*/
            padding-left: 20px; /*li内文字距离左边的距离*/
            list-style: none; /*去调li的点 ,一般不用li自带的点*/
        }
    </style>
    <div class="container">
        <div class="info_con clearfix">
            <h3 class="common_title2">基本信息</h3>
            <ul class="user_info_list character">

                    <li><span>商品名：</span>{{ goods.g_name }}</li>
                    <li><span>商品ID：</span>{{ goods.g_id }}</li>
                    <li><span>总价格：</span>{{ order.price }}</li>
                    <li><span>地址:</span>{{ order.province }}
                    <span></span>{{ order.city }}
                    <span></span>{{ order.district }}</li>
                    <li><span>详细地址：</span>{{ order.address }}</li>
                    <li><span>下单时间：</span>{{ order.time }}</li>
                    <li><span>订单号：</span>{{ order.wl_code }}</li>
            </ul>
        </div>
        <div>
        <div class="btn btn-lg btn-a">
            <a href="/delete/">取消</a>
        </div>
        <div class="btn btn-lg btn-a">
            <a href="/business/">确认</a>
        </div>
        </div>


    </div>
{% endblock %}